@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,300&display=swap');

* {
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
}

:focus {
	outline: none;
	padding: 0;
}

:focus-visible:not(ul > li > .header-link), .header_link_logo:focus-visible {
	outline: #000 solid 2px;
}

.chatbot_icon:focus-visible, .question:focus-visible {
	outline: #6699CC solid 2px;
}

#back:focus-visible {
	outline: #5778b9 solid 2px;
}

a:active:hover, a:visited:hover, a:link:hover, a:active, a:hover, a:visited, a:link {
  	text-decoration: none;
}

:root {
	--main-color: #6699CC;
	--second-color: #457CB1;
	--accent-color: #2B649B;
	--delay: 1s;
	--duration: 800ms;
	--iterations: 1;
}

html.gallery_scroll {
	scroll-padding-top: 100px;
	scroll-behavior: smooth;
}

body {
	background: #fff;
	font-family: 'Roboto', sans-serif;
	overflow-x: hidden;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: padding .8s ease;
	padding: 40px 2%;
	background: var(--main-color);
	z-index: 10;
	flex-wrap: nowrap;
	flex-direction: row;
	max-height: 130px;
	-webkit-box-shadow: 0px 5px 20px rgb(0 0 0 / 16%);
	box-shadow: 0px 5px 20px rgb(0 0 0 / 16%);
}

header.sticky {
	padding: 10px 2%;
}

@media (max-width: 928px){
	header ul#menu.menu_list {
		visibility: visible;
		display: flex;
		opacity: 1;
		align-items: flex-start;
		flex-direction: column;
		flex-wrap: nowrap;
		justify-content: flex-start;
	}

	ul.menu_list li:nth-child(1) {
		margin: 30% 0 0 0;
	}

	svg#menu_icon.menu_icon {
		visibility: visible;
		display: block;
		opacity: 1;
	}

	header ul#menu_list-no_mobile.menu_list-no_mobile {
		visibility: hidden;
		display: none;
		opacity: 0;
	}

	footer .copyright:after {
		width: 17rem;
		max-width: 130%;
	}
}

@media (max-width: 704px) and (orientation: landscape) {
	ul.menu_list li:nth-child(1) {
		margin: 0;
	}

	header ul#menu.menu_list {
	  justify-content: center;
	}
}

header.sticky ul li a {
	color: #FFF;
}

header ul.menu_list {
	background: var(--main-color);
	box-shadow: -1px 1px 10px rgb(0 0 0 / 25%);
	height: 100vh;
	width: 70vw;
	display: none;
	position: fixed;
	top: 0;
	right: 0;
  	z-index: 2;
	transform: translateX(100%);
	transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.menu_list-no_mobile li {
	margin: 0;
}

header ul li {
	position: relative;
	list-style: none;
	display: flex;
	margin: 2% 0 0 0;
}

header ul li a:not(.icon-header), header ul li p {
	position: relative;
	margin: 2.5px 15px;
	text-decoration: none;
	color: #fff;
	letter-spacing: 2px;
	transition: 0.6s;
	cursor: pointer;
	font-weight: bold;
	text-decoration: none;
	background-image: linear-gradient(currentColor, currentColor);
	background-position: 0% 100%;
	background-repeat: no-repeat;
	background-size: 0% 2px;
	transition: background-size .3s;
}

.header-link:hover,
.header-link.hover-effect,
.header-link:focus-visible {
	color: #fff;
	transition: all 0.5s;
	background-size: 100% 2px;
	outline: none;
	padding: 0;
}

header ul.menu_list-no_mobile {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
}

.header_logo {
	height: 77px;
	-moz-user-select: none;
  	-webkit-user-select: none;
  	-ms-user-select: none;
  	user-select: none;
}

.menu_icon {
	cursor: pointer;
	width: 2.5rem;
	height: 2.5rem;
	fill: #fff;
	z-index: 3;
	visibility: hidden;
	display: none;
	opacity: 0;
}

.menu_icon > rect {
	transition: transform 250ms,opacity 250ms;
}

.menu_icon.cross > rect:nth-child(1) {
	transform: translateX(23px) translateY(2px) rotate(45deg);;
}

.menu_icon.cross > rect:nth-child(2) {
	opacity: 0;
}

.menu_icon.cross > rect:nth-child(3) {
	transform: translateX(-34px) translateY(30px) rotate(-45deg);
}

.menu_list.active_menu {
	transform: translateX(0%);
}  

li.sm-btns {
    margin: 2.5% 15px;
}

/* Intro */

header#header-intro {
	background: #6699cc00;
	box-shadow: 0px 5px 20px rgba(0, 0, 0, 0);
}

.sm-btns p {
	font-size: 100%;
	cursor: default;
}

.icon-header {
	display: inherit;
}

.icon-header.fb {
	margin: 0 0.5rem 0 1rem;
}

.icon-header > svg {
    height: 1.9rem;
    width: 1.9rem;
    fill: #fff;
    border: 2px solid #fff;
    border-radius: 100%;
    padding: 0.2rem;
    transition: .8s;
}

.icon-header > svg:hover, .icon-header:focus > svg {
    fill: var(--second-color);
    background: #fff;
}

.intro {
	position: relative;
	height: 105vh;
	width: 100%;
	background-color: #203A53;
	background-image: url(https://scouts28quiche.org/assets/dragon-scales.svg);
	background-attachment: fixed;
	background-size: contain;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	color: #fff;
}

.intro::after {
	content: '';
    position: absolute;
    display: block;
    bottom: -5px;
    width: 100%;
    background-position-y: bottom;
    background-size: 100% 32%;
    background-repeat: no-repeat;
    height: 100%;
    z-index: 0;
    background-image: url(https://scouts28quiche.org/assets/wave.svg);
}

#intro-h1 {
	width: 60%;
	font-size: 3rem;
	text-align: center;
	padding: 0 1rem;
}

.carousel {
	position: relative;
	overflow: hidden;
	width: 40%;
	height: 50vh; /* Ajusta la altura según tus necesidades */
	z-index: 1;
}

.carousel-inner {
	display: flex;
	height: 50vh;
	transition: transform 0.5s ease-in-out;
}

.carousel-inner img {
	width: 100%; /* Ancho igual al contenedor */
	object-fit: contain; /* Ajusta el tamaño de la imagen para cubrir el contenedor */
}

/* Intro */

/* ¿Quiénes somos? */

.section_info {
	position: relative;
	padding: 2rem 10%;
	z-index: 1;
}

.side_img {
	width: 20%;
	height: fit-content;
	margin: 0 2.5%;
}

.contains_side-img {
	display: flex;
	flex-direction: row;
	align-items: center;
}

/* Cambiar el diseño en pantallas pequeñas */
@media screen and (max-width: 767px) {
	.contains_side-img {
		flex-direction: column; /* Cambiar a un diseño de columna en pantallas pequeñas */
	}

	.side_img {
		width: 25vh;
		max-width: 80%;
	}

	.carousel {
		display: none;
	}
}

.section_info p, .margin_section {
	margin: 0 0 1rem 0;
	text-align: justify;
}
/* ¿Quiénes somos? */

/* ¿Cómo funciona? */

#Como_funciona, .section-row-blue  {
	background: #c2d6eb;	
}

.arrow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    fill: #fff;
}

/* ¿Cómo funciona? */

/* Jefes */
#Jefes::before {
	content: url(https://scouts28quiche.org/assets/triangle.svg);
    display: block;
    fill: #c2d6eb;
    position: absolute;
    left: 0;
	top: -10px;
    z-index: -1;
    width: 100%;
    height: fit-content;
	transform: scaleY(-1);
}

.scouts-slider {
	width: 95%;
	position: relative;
	max-width: 800px;
	margin: 3rem auto 0;
	background: #fff;
	box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
	padding: 25px;
	border-radius: 25px;
	height: 400px;
	transition: all 0.3s;
}
@media screen and (max-width: 992px) {
.scouts-slider {
	max-width: 680px;
	height: 400px;
}
}
@media screen and (max-width: 768px) {
.scouts-slider {
	min-height: 500px;
	height: auto;
	margin: 180px auto 0;
}
}
@media screen and (max-height: 500px) and (min-width: 992px) {
.scouts-slider {
	height: 350px;
}
}
.scouts-slider__item {
	display: flex;
	align-items: center;
}
@media screen and (max-width: 768px) {
.scouts-slider__item {
	flex-direction: column;
}
}
.scouts-slider__item.swiper-slide-active .scouts-slider__img img {
opacity: 1;
	transition-delay: 0.3s;
}
.scouts-slider__item.swiper-slide-active .scouts-slider__content > * {
opacity: 1;
	transform: none;
}
.scouts-slider__item.swiper-slide-active .scouts-slider__content > *:nth-child(1) {
	transition-delay: 0.3s;
}
.scouts-slider__item.swiper-slide-active .scouts-slider__content > *:nth-child(2) {
	transition-delay: 0.4s;
}
.scouts-slider__item.swiper-slide-active .scouts-slider__content > *:nth-child(3) {
	transition-delay: 0.5s;
}
.scouts-slider__item.swiper-slide-active .scouts-slider__content > *:nth-child(4) {
	transition-delay: 0.6s;
}
.scouts-slider__item.swiper-slide-active .scouts-slider__content > *:nth-child(5) {
	transition-delay: 0.7s;
}
.scouts-slider__item.swiper-slide-active .scouts-slider__content > *:nth-child(6) {
	transition-delay: 0.8s;
}
.scouts-slider__item.swiper-slide-active .scouts-slider__content > *:nth-child(7) {
	transition-delay: 0.9s;
}
.scouts-slider__item.swiper-slide-active .scouts-slider__content > *:nth-child(8) {
	transition-delay: 1s;
}
.scouts-slider__item.swiper-slide-active .scouts-slider__content > *:nth-child(9) {
	transition-delay: 1.1s;
}
.scouts-slider__item.swiper-slide-active .scouts-slider__content > *:nth-child(10) {
	transition-delay: 1.2s;
}
.scouts-slider__item.swiper-slide-active .scouts-slider__content > *:nth-child(11) {
	transition-delay: 1.3s;
}
.scouts-slider__item.swiper-slide-active .scouts-slider__content > *:nth-child(12) {
	transition-delay: 1.4s;
}
.scouts-slider__item.swiper-slide-active .scouts-slider__content > *:nth-child(13) {
	transition-delay: 1.5s;
}
.scouts-slider__item.swiper-slide-active .scouts-slider__content > *:nth-child(14) {
	transition-delay: 1.6s;
}
.scouts-slider__item.swiper-slide-active .scouts-slider__content > *:nth-child(15) {
	transition-delay: 1.7s;
}
.scouts-slider__img {
	width: 300px;
	flex-shrink: 0;
	height: 300px;
	background-image: linear-gradient(147deg, #dce8f3 0%, #2B649B 74%);
	box-shadow: 4px 13px 30px 1px #2c659c33;
	border-radius: 20px;
	transform: translateX(-80px);
	overflow: hidden;
}
.scouts-slider__img:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 20px;
	opacity: 0.8;
}
.scouts-slider__img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
	opacity: 0;
	border-radius: 20px;
	transition: all 0.3s;
}
@media screen and (max-width: 768px) {
.scouts-slider__img {
	transform: translateY(-50%);
	width: 90%;
}
}
@media screen and (max-width: 576px) {
.scouts-slider__img {
	width: 95%;
}
}
@media screen and (max-height: 500px) and (min-width: 992px) {
.scouts-slider__img {
	height: 270px;
}
}
.scouts-slider__content {
	padding-right: 25px;
}
@media screen and (max-width: 768px) {
.scouts-slider__content {
	margin-top: -80px;
	text-align: center;
	padding: 0 30px;
}
}
@media screen and (max-width: 576px) {
.scouts-slider__content {
	padding: 0;
}
}
.scouts-slider__content > * {
	opacity: 0;
	transform: translateY(25px);
	transition: all 0.4s;
}
.scouts-slider__code {
	color: #7b7992;
	margin-bottom: 20px;
	display: block;
	font-weight: 500;
}
.scouts-slider__title {
	font-size: 24px;
	font-weight: 700;
	color: #0d0925;
	margin-bottom: 5px;
}
.scouts-slider__text {
	color: #4e4a67;
	line-height: 1.5em;
	text-align:justify;  
}
.scouts-slider__button {
	display: inline-flex;
	background-image: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%);
	padding: 15px 35px;
	border-radius: 50px;
	color: #fff;
	box-shadow: 0px 14px 80px rgba(252, 56, 56, 0.4);
	text-decoration: none;
	font-weight: 500;
	justify-content: center;
	text-align: center;
	letter-spacing: 1px;
}
@media screen and (max-width: 576px) {
.scouts-slider__button {
	width: 100%;
}
}
.scouts-slider .swiper-container-horizontal > .swiper-pagination-bullets, .scouts-slider .swiper-pagination-custom, .scouts-slider .swiper-pagination-fraction {
	bottom: 10px;
	left: 0;
	width: 100%;
}
.scouts-slider__pagination {
	position: absolute;
	z-index: 21;
	right: 20px;
	width: 11px !important;
	text-align: center;
	left: auto !important;
	top: 50%;
	bottom: auto !important;
	transform: translateY(-50%);
}
@media screen and (max-width: 768px) {
.scouts-slider__pagination {
	transform: translateX(-50%);
	left: 50% !important;
	top: 205px;
	width: 100% !important;
	display: flex;
	justify-content: center;
	align-items: center;
}
}
.scouts-slider__pagination.swiper-pagination-bullets .swiper-pagination-bullet {
	margin: 8px 0;
}
@media screen and (max-width: 768px) {
.scouts-slider__pagination.swiper-pagination-bullets .swiper-pagination-bullet {
	margin: 0 5px;
}
}
.scouts-slider__pagination .swiper-pagination-bullet {
	width: 11px;
	height: 11px;
	display: block;
	border-radius: 10px;
	background: #062744;
	opacity: 0.2;
	transition: all 0.3s;
}
.scouts-slider__pagination .swiper-pagination-bullet-active {
	opacity: 1;
	background-image: linear-gradient(147deg, #dce8f3 0%, #2B649B 74%);
	height: 30px;
	box-shadow: 0px 0px 20px rgba(252, 56, 56, 0.3);
}
@media screen and (max-width: 768px) {
	.scouts-slider__pagination .swiper-pagination-bullet-active {
		height: 11px;
		width: 30px;
	}
}

/* Jefes */

/* ¿Dónde estamos? */

#Donde_estamos {
	background-image: linear-gradient(225deg, #c2d6eb94 0%, #6699cc94 49%, #203a5394 100%);
}

#Donde_estamos::before {
	content: url(https://scouts28quiche.org/assets/bubbles.svg);
    display: block;
    fill: #c2d6eb;
    position: absolute;
    left: 0;
	top: -4px;
    z-index: -1;
    width: 100%;
    height: fit-content;
}

iframe {
    max-width: 1080px;
	display: block;
    margin: 4rem auto auto;
}

p.tooltip-text {
	position: fixed;
    padding: 0.3rem;
    max-width: 60vw;
    margin: 0;
    background-color: #fff;
    color: #69c;
    border-radius: 6px;
    opacity: 1;
	visibility: visible;
	display: block;
    transition: visibility 0s, opacity 0.5s, all .55s ease;
    box-shadow: 0px 2px 10px rgb(0 0 0 / 25%);
    right: 6rem;
	z-index: 1;
    transform: translateY(5px);
    bottom: 3rem;
}

p.tooltip-text.hidden {
	opacity: 0;
	visibility: hidden;
	display: none;
}

.tooltip-text::after {
    content: "";
    position: absolute;
    top: 33%;
    transform: rotate(-90deg) translateY(50%);
    right: -0.3rem;
    border-width: 7px;
    border-style: solid;
    border-color: #fff transparent transparent transparent;
}

@media (orientation: landscape) and (max-height: 675px) {
	#chatbot {
	  display: none;
	}
  }

.element_hidden, #close_menu {
	display: none;
	visibility: hidden;
	opacity: 0;
}

.chatbot_icon {
	height: 3.5rem;
    width: 3.5rem;
    padding: 1vh;
    border-radius: 100%;
    background: #fff;
    box-shadow: 0px 2px 10px rgb(0 0 0 / 25%);
    bottom: 1vh;
    position: fixed;
    right: 0;
    transform: translate(-50%, -50%);
    cursor: pointer;
    transition: all .5s ease, outline 0s;
    z-index: 1;
}

.chatbot_content {
	margin: 2vh 0;
	border-radius: 8px;
	position: fixed;
	right: 6.5vh;
	bottom: -55vh;
	opacity: 0;
	visibility: hidden;
	transition: visibility 0s, opacity 0.5s, all .55s ease;
	overflow: hidden;
	box-shadow: 0 0 20px 0 rgb(0 0 0 / 30%);
}

.chatbot_content *::selection {
	background: #5d88b3;
	color: #fff;
}

.chatbot_header {
	position: relative;
	background: var(--main-color);
	color: #fff;
	padding: 4vh 4vh;
	display: flex;
	align-items: flex-start;
	border-radius: 8px 8px 0 0;
	height: calc(7vh + 39px);
	width: 100.05%;
	-moz-user-select: none;
  	-webkit-user-select: none;
  	-ms-user-select: none;
  	user-select: none;
}

.wave {
	width: 100%;
	position: absolute;
	bottom: -3px;
	left: 0;
}

.chatbot_content.active_bot {
	bottom: 5vh;
	visibility: visible;
	opacity: 1;
}

.chatbot_icon.active_bot {
	bottom: 56vh;
}

.chatbot_body {
	background: #fff;
	border-radius: 8px;
	max-width: 37vh;
	height: 52vh;
}

a.chatbot_phone {
	color: #fff;
	text-decoration: underline;
}

a.chatbot_phone:hover {
	text-decoration: underline;
}

div#back {
	-moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.conversation {
	padding: 2vh 0;
	overflow-y: scroll;
	max-height: 40vh;
}

.message {
	background: var(--main-color);
	color: #fff;
	padding: 1vh;
	margin: 1vh 1.5vh;
	border-radius: 8px;
	border-top-left-radius: 0;
}

div.conversation::-webkit-scrollbar {
	width: 2.5px;
}

div.conversation::-webkit-scrollbar-track {
	background: #f0f2f7;
}
 
div.conversation::-webkit-scrollbar-thumb {
	background: #6699CC;
}

div.conversation::-webkit-scrollbar-thumb:hover {
	background: #5d88b3;
}

.question {
	background: #f0f2f7;
	padding: 1vh;
	margin: 1vh 1.5vh;
	border-radius: 8px;
}

.question.hoverable:hover {
	cursor: pointer;
	background: #d8dade;
}

.message.hoverable:hover {
	cursor: pointer;
	background: #5d88b3;
}

/* ¿Dónde estamos? */

.images {
	object-fit: contain;
	opacity: 0;
	transform: scale(0.9);
	transition: .7s ease-in-out all;
}

.images > a {
	display: flex;
	justify-content: center;
	align-items: center;
}

.images.arriba {
	transform: translateY(10%);
}

.images.abajo {
	transform: translateY(-10%);
}

.images.izquierda {
	transform: translateX(-10%);
}

.images.derecha {
	transform: translateX(5%);
}

.images.fondo {
	transform: scale(0.2);
}

.images.inside {
	opacity: 1;
	transform: scale(1.0) translateX(0) translateY(0);
	visibility: visible;
}

h1, h2 {
	margin: 0 0 1.5rem 0;
	font-size: 150%;
}

h3, h4, h5, h6 {
	font-size: 130%;
	margin: 0 0 1.5rem 0;
}

p {
	font-size: 120%;
}

footer {
	padding: 2.5% 15%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	transition: .8s ease;
	background: var(--main-color);
	width: 100%;
	color: #fff;
	position: relative;
	z-index: 2;
}

.Alex_logo {
  height: 100px;
  width: 100%;
  object-fit: contain;
}

.copyright {
  display: inline-block;
  position: relative;
}

.copyright:after {
  position: absolute;
  content: '';
  border-bottom: 1px solid #fff;
  width: 80%;
  transform: translateX(-50%);
  bottom: -1.5vh;
  left: 50%;
}

.website_programer {
  margin: 3vh 0 0 0;
  font-size: 100%;
	display: flex;
	flex-direction: row;
}

.ines_morelos {
	font-size: 120%;
	font-weight: bold;
}

.div_frase {
	width: 100%;
	display: flex;
	justify-content: center;
	text-align: left;
	margin: 1% 0 1em 1em;
}

.frase {
	color: #fff;
  font-weight: bold;
  font-style: italic;
  font-size: 150%;
  width: fit-content;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.reveal-text,
.reveal-text::after {
	animation-delay: var(--animation-delay, 0s);
	animation-iteration-count: var(--iterations, 1);
	animation-duration: var(--duration, 800ms);
	animation-fill-mode: both;
	animation-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
}

.reveal-text {
	--animation-delay: var(--delay, 0s);
	--animation-duration: var(--duration, 800ms);
	--animation-iterations: var(--iterations, 1);
	animation-name: clip-text;
	cursor: default;
}


@keyframes clip-text {
	from {
		clip-path: inset(0 100% 0 0);
	}
	to {
		clip-path: inset(0 0 0 0);
	}
}


@keyframes text-revealer {
	
	0%, 50% {
		transform-origin: 0 50%;
	}
	
	60%, 100% {
		transform-origin: 100% 50%;		
	}

	
	60% {
		transform: scaleX(1);
	}
	
	100% {
		transform: scaleX(0);
	}
}

#close_menu {
	transition: opacity 0.8s ease-in-out;
}

#close_menu.active {
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 105vw;
	height: 105vh;
	background: rgba(0, 0, 0, 0.1);
	display: block;
	visibility: visible;
	opacity: 1;
}