/* Colores:
rojo = #FB0303
azul = #2930C7
verde = #27AE60
amarillo = #FFF300
rojo_vino = #950000 */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,300&display=swap');

* {
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
}

:focus, .media_buttons a:focus-visible, .header_link_logo:focus-visible {
	outline: none;
	padding: 0;
}

:focus-visible, .aviso-cookies a:focus-visible {
	outline: #000 solid 2px;
	padding: 0.4vh;
	border-radius: 2px;
}

.chatbot_icon:focus-visible, .question:focus-visible {
	outline: #6699CC solid 2px;
}

#back:focus-visible {
	outline: #5778b9 solid 2px;
}

a:active:hover, a:visited:hover, a:link:hover, a:active, a:hover, a:visited, a:link {
  text-decoration: none;
}

::selection {
	background: #730000;
	color: #fff;
}

html.gallery_scroll {
	scroll-padding-top: 120px;
	scroll-behavior: smooth;
}

body {
	background: #fff;
	font-family: 'Roboto', sans-serif;
}

body.locked {
	overflow-y: hidden;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: .8s ease;
  padding: 40px 2%;
  background: #950000;
  z-index: 2;
  flex-wrap: nowrap;
  flex-direction: row;
  max-height: 130px;
  -webkit-box-shadow: 0px 5px 20px rgb(0 0 0 / 16%);
          box-shadow: 0px 5px 20px rgb(0 0 0 / 16%);
}

header.sticky {
	padding: 10px 2%;
}

header.sticky ul li a {
	color: #FFF;
}

header ul {
  background: #950000;
  box-shadow: -1px 1px 10px rgb(0 0 0 / 25%);
  height: 100vh;
  width: 50vh;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
}

header ul li {
  position: relative;
  list-style: none;
  display: flex;
  margin: 2% 0 0 0;
}

header ul li a {
	position: relative;
	margin: 2.5px 15px;
	text-decoration: none;
	color: #FFF;
	letter-spacing: 2px;
	transition: 0.6s;
	cursor: pointer;
	font-weight: bold;
	text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}

header ul li a:hover {
	color: #fff;
	transition: all 0.5s;
}

header ul li a:hover, header ul li a:focus {
	background-size: 100% 2px;
	outline: none;
	padding: 0;
}

.header_logo {
	height: 77px;
	-moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.menu_icon {
	cursor: pointer;
	width: 6vh;
	height: 6vh;
	fill: #fff;
	z-index: 3;
}

.menu_icon > rect {
	transition: transform 250ms,opacity 250ms;
}

.menu_icon.cross > rect:nth-child(1) {
	transform: translateX(23px) translateY(2px) rotate(45deg);;
}

.menu_icon.cross > rect:nth-child(2) {
	opacity: 0;
}

.menu_icon.cross > rect:nth-child(3) {
	transform: translateX(-34px) translateY(30px) rotate(-45deg);
}

.menu_list {
	transform: translateX(120%);
	transition: all .5s ease;
}

.menu_list.active_menu {
	transform: translateX(0%);
}

.menu_list.active_menu > li {
	visibility: visible;
	opacity: 1;
}

.menu_list > li {
	visibility: hidden;
	opacity: 0;
}

ul.menu_list li:nth-child(1) {
	margin: 30% 0 0 0;
}

.controls {
	padding: 0 2%;
	width: fit-content;
	height: 100vh;
	display: flex;
	align-items: center;
	position: absolute;
	top: 0;
}

.controls:nth-child(3) {
	right: 0;
}

.controls:nth-child(2) > svg {
	transform: rotate(270deg);
}

.controls:nth-child(3) > svg {
	transform: rotate(90deg);
}

.controls > svg, .controls > svg > path {
	height: 30px;
	cursor: pointer;
}

.controls > svg > path {
	fill: #fff;
}

.slider_container {
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	color: #fff;
}

.image_text {
	width: 80%;
	margin: 18vh 10% 0 10%;
}

.slider_image {
	display: flex;
	justify-content: center;
}

.slider_image > img {
	max-width: 100%;
}

.slider_text {
	display: flex;
	flex-wrap: wrap;
	margin: 5vh 0;
}

.cnt > #slider_1 {
	background: #ffcc01;
	font-weight: bold;
}

.cnt > #slider_2 {
	background: #024a16;
}

.cnt > #slider_3 {
	background: #0833A2;
}

.cnt > #slider_4 {
	background: #950723;
}

.cnt > #slider_5 {
	background: #6699CC;
}

#slider_3 .controls svg path {
	fill: #000;
}

.slider_content {
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 8vh 0 2vh 0;
}

.cnt {
	display: flex;
	flex-direction: row;
	width: 500%;
	transition: all .4s ease-in;
}

.galeria_text {
	width: 80%;
	margin: 5vh 10%;
	line-height: 200%;
	text-align: left;
}

.galeria_text h1 {
	margin: 0;
}

.galeria_title {
	width: 90%;
	margin: 5vh 5%;
	line-height: 200%;
	text-align: left;
}

.video_responsive {
	width: 80%;
	margin: 0 10%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	bottom: 5%;
	z-index: 100;
}

.video_pop-up {
	display: none;
	background: #fff;
	padding: 3vh;
	line-height: 150%;
	border-radius: 10px;
	padding-top: 4vh;
	box-shadow: 0px 2px 20px 10px rgba(222,222,222,.25);
	text-align: center;
}

.video_pop-up.activo {
	display: block;
}

.video {
	border: 2px #950000 solid;
	height: 75vh;
}

.video:focus, .video:focus-visible, .video:focus-within {
	outline: none;
	outline-style: none;
	padding: 0;
	outline-color: #0000;
}

.video_container {
	width: 100%;
	display: flex;
	justify-content: center;
}

.video_pop-up  p {
	font-weight: bold;
	margin: 0 0 2vh 0;
	font-size: 4vh;
	cursor: pointer;
}

.close_video {
	width: 100%;
	display: flex;
	justify-content: flex-end;
}

.div_text {
	width: 40%;
	margin: 0% 10%;
	line-height: 200%;
	text-align: left;
}

.div_image {
	margin: 0% 3% 0% 0%;
	position: absolute;
	right: 0;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	width: 45%;
	z-index: -1;
}

.div_image > .images {
	width: 100%;
	height: 150px;
	object-fit: contain;
}

.images {
	object-fit: contain;
	opacity: 0;
	transform: scale(0.9);
	transition: .7s ease-in-out all;
}

.images > a {
	display: flex;
	justify-content: center;
	align-items: center;
}

.images.arriba {
	transform: translateY(10%);
}

.images.abajo {
	transform: translateY(-10%);
}

.video_responsive.abajo {
	transform: translateY(-5%);
}

.images.izquierda {
	transform: translateX(-10%);
}

.images.derecha {
	transform: translateX(5%);
}

.images.fondo {
	transform: scale(0.2);
}

.images.inside {
	opacity: 1;
	transform: scale(1.0) translateX(0) translateY(0);
	visibility: visible;
}

.more_than_one {
	margin: 5% 0 0 0;
}

.sections {
	margin: 0% 1%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.sections > li {
	list-style: none;
	margin: 1.5% 0% 0% 2%;
	cursor: pointer;
}

.filter_gallery {
	box-shadow: 2px 4px 5px 0 #bdbdbd;
	transform: translateY(0);
}

.filter_gallery:hover {
	transform: translateY(-6px);
	transition: transform .2s ease-in-out;
	padding: 0;
	outline: none;
}

.filter_gallery.inside:focus {
	transform: translateY(-6px);
	outline: none;
	padding: 0;
}

.imagesList.abajo {
	transform: translateY(-2.5%);
	opacity: 0;
}

.photoList.imagesList.inside {
	transform: translateY(0%);
	opacity: 1;
}

.photoList {
	transition: visibility 0s, opacity 0.5s, all .55s ease;
	visibility: hidden;
	display: none;
}

.photoList li {
	list-style: none;
}

.photoList div li img {
	height: 30vh;
	width: 30vh;
	margin: 1vh;
	object-fit: cover;
}

.photosContainer {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
}

.visible_photos {
	visibility: visible;
	opacity: 1;
	background: #fff;
	width: 90%;
	margin: 2vh 0 0 0;
	box-shadow: 2px 4px 5px 0 #bdbdbd, -2px -2px 5px 0 #bdbdbd;
	display: flex;
	flex-direction: column;
	padding: 0 0 5vh 0;
}

.center {
  position: absolute;
	top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  z-index: 98;
  width: fit-content;
	text-shadow: 1px 1px 1px #000000;
}

.sections > li img {
	width: 100%;
	height: 16vh;
	object-fit: contain;
}

.space {
	margin: 200px 0 0 0;
}

.section_space {
	margin: 10% 0%;
}

.section_space h2, 
.section_space h3,
.section_space h4,
.section_space h5 {
	margin: 2% 0%;
}

.section_space > img {
	margin: 0% 3% 0% 0%;
	position: absolute;
	right: 0;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	width: 45%;
	z-index: -1;
	height: 300px;
	object-fit: contain;
}

.section_space.sls:nth-child(2) {
	color: #d1a916;
}

.section_space.sls:nth-child(3) {
	color: #14843c;
}

.section_space.sls:nth-child(4) {
	color: #1864a0;
}

.section_space.sls:nth-child(5) {
	color: #e11f1d;
}

h1 {
	margin: 0 0 4% 0;
	font-size: 150%;
}

h2, h3, h4, h5, h6 {
	font-size: 120%;
}

p {
	font-size: 120%;
}

footer {
	padding: 5% 0%;
	text-align: left;
	background: #950000;
	margin: 5% 0 0 0;  
	width: 100%;
	color: #FFF;
}

footer > p {
	margin: 0% 30%;
}

footer.absolute {
	position: absolute;
	margin: 15vh 0 0 0;
}

.div_frase {
	width: 63%;
	display: flex;
	justify-content: center;
	text-align: left;
}

.frase {
  margin: 0% 3% 0% 3%;
	color: #fff;
  font-weight: bold;
  font-style: italic;
  font-size: 3.5vh;
  width: fit-content;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

:root {
	--delay: 1s;
	--duration: 800ms;
	--iterations: 1;
}

.reveal-text,
.reveal-text::after {
	animation-delay: var(--animation-delay, 0s);
	animation-iteration-count: var(--iterations, 1);
	animation-duration: var(--duration, 800ms);
	animation-fill-mode: both;
	animation-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
}

.reveal-text {
	--animation-delay: var(--delay, 0s);
	--animation-duration: var(--duration, 800ms);
	--animation-iterations: var(--iterations, 1);
	animation-name: clip-text;
	cursor: default;
}


@keyframes clip-text {
	from {
		clip-path: inset(0 100% 0 0);
	}
	to {
		clip-path: inset(0 0 0 0);
	}
}


@keyframes text-revealer {
	
	0%, 50% {
		transform-origin: 0 50%;
	}
	
	60%, 100% {
		transform-origin: 100% 50%;		
	}

	
	60% {
		transform: scaleX(1);
	}
	
	100% {
		transform: scaleX(0);
	}
}

.div_contact {
	width: 80%;
	margin: 0% 10%;
	line-height: 200%;
	text-align: left;
}

.contact_card:hover, .media_buttons > a:focus-visible > .contact_card {
	box-shadow: 5px 5px 20px rgb(0 0 0 / 40%);
  transform: translateY(-3%);
}

.contact_card {
	height: 130px;
	width: 130px;
	background: #eaeaea;
	border-radius: 100%;
	display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid #fff;
  box-shadow: 0px 2px 10px rgb(0 0 0 / 25%);
  transition: transform .5s, ease-all;
}

.icon {
	height: 35%;
	margin: 0 0 0 6%;
}

.media_name {
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	color: #000;
}

.whatsapp {
	color: #0DC143;
}

.facebook {
	color: #4267B2;
}

.maps {
	color: #D94841;
}

.instagram {
	color: #E1306C;
}

.map {
	margin: 0% 0 10% 0;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #fff;
	box-shadow: 0 0 20px 0 rgb(0 0 0 / 30%);
	padding: 1%;
	-moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

iframe {
	width: 100%;
}

.element_hidden {
	display: none;
	visibility: hidden;
	opacity: 0;
}

.chatbot_icon {
	height: 8vh;
	width: 8vh;
	padding: 1vh;
	border-radius: 100%;
	background: #fff;
	box-shadow: 0px 2px 10px rgb(0 0 0 / 25%);
	bottom: 3vh;
	right: 6.5vh;
	position: fixed;
	cursor: pointer;
	transition: all .5s ease;
	z-index: 1;
}

.chatbot_content {
	margin: 2vh;
	border-radius: 8px;
	position: fixed;
	right: 6.5vh;
	bottom: -55vh;
	opacity: 0;
	visibility: hidden;
	transition: visibility 0s, opacity 0.5s, all .55s ease;
	overflow: hidden;
	box-shadow: 0 0 20px 0 rgb(0 0 0 / 30%);
}

.chatbot_content *::selection {
	background: #5d88b3;
	color: #fff;
}

.chatbot_header {
	background: #6699CC;
	color: #fff;
	padding: 4vh 4vh;
	display: flex;
	align-items: flex-start;
	background-image: url(../assets/wave.svg);
	background-repeat: no-repeat;
	background-position-y: 7vh;
	border-radius: 8px 8px 0 0;
	height: calc(7vh + 39px);
	width: 100.05%;
	-moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.chatbot_content.active_bot {
	bottom: 5vh;
	visibility: visible;
	opacity: 1;
}

.chatbot_icon.active_bot {
	bottom: 60vh;
}

.chatbot_body {
	background: #fff;
	border-radius: 8px;
	max-width: 37vh;
	height: 52vh;
}

div#back {
	-moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.conversation {
	padding: 2vh 0;
	overflow-y: scroll;
	max-height: 40vh;
}

.message {
	background: #6699CC;
	color: #fff;
	padding: 1vh;
	margin: 1vh 1.5vh;
	border-radius: 8px;
	border-top-left-radius: 0;
}

div.conversation::-webkit-scrollbar {
	width: 2.5px;
}

div.conversation::-webkit-scrollbar-track {
	background: #f0f2f7;
}
 
div.conversation::-webkit-scrollbar-thumb {
	background: #6699CC;
}

div.conversation::-webkit-scrollbar-thumb:hover {
	background: #5d88b3;
}

.question {
	background: #f0f2f7;
	padding: 1vh;
	margin: 1vh 1.5vh;
	border-radius: 8px;
}

.question.hoverable:hover {
	cursor: pointer;
	background: #d8dade;
}

.message.hoverable:hover {
	cursor: pointer;
	background: #5d88b3;
}

.media_buttons {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	margin: 8.6% 0%;
}

.media_buttons > a {
	margin: 0% 3%;
}

.div_cards {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
}

.div_cards > figure {
	padding: 5% 3%;
	margin: 2%;
	box-shadow: 0px 1px 10px rgb(0 0 0 / 20%);
	display: flex;
	justify-content: center;
	flex-direction: column;
	width: 45vh;
	align-items: center;
}

.profile_picture_container {
	width: 100%;
	display: flex;
	justify-content: center;
}

.profile_picture {
	height: inherit;
	min-width: 22.5vh;
	max-width: 35%;
	border-radius: 100%;
	border: 5px solid #fff;
	box-shadow: 0px 2px 10px rgb(0 0 0 / 25%);
}

p.name {
	word-break: break-word;
	width: 100%;
	display: flex;
	justify-content: center;
}

.huge_card {
	width: 80%;
  margin: 0% 10%;
  line-height: 200%;
  text-align: left;
  box-shadow: 0px 1px 10px rgb(0 0 0 / 20%);
  padding: 2% 3%;
}

.huge_card h2,
.huge_card h3,
.huge_card h4 {
	margin: 2% 0%;
}

.huge_card > ul > li,
.section_space > ul > li,
li::marker {
	margin: 0 0 0 10%;
	font-size: 120%;
}

.job_info {
	position: relative;
	display: block;
	padding: 0.2% 1.5%;
	border: 2px solid #950000;
	color: #950000;
	background: #fff;
	text-decoration: none;
	cursor: pointer;
	transition: .6s;
}

.job_info:hover, .job_info:focus-visible {
	outline: none;
	background: #950000;
	color: #fff;
}

.job {
	width: 100%;
	height: 90vh;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 50px;
	z-index: 100;
	visibility: hidden;
}

.card {
	display: none;
	background: #fff;
	padding: 4vh 3vh 3vh 3vh;
	line-height: 150%;
	border-radius: 10px;
	box-shadow: 0px 2px 20px 10px rgb(222 222 222 / 25%);
	text-align: start;
	overflow-x: hidden;
	overflow-y: auto;
	max-height: 90vh;
	min-width: 45vh;
	width: 50%;
	max-width: 50%;
}

.job.active > .card {
	display: block;
}

.modal_picture_container {
	width: 100%;
	display: flex;
	justify-content: center;
}

.modal_picture {
	min-width: 22.5vh;
	max-width: 35%;
	border-radius: 100%;
	border: 5px solid #fff;
	box-shadow: 0px 2px 10px rgb(0 0 0 / 25%);
}

.close_card {
	width: 100%;
	display: flex;
	justify-content: flex-end;
}

.close_card p {
	font-weight: bold;
	margin: 0 0 2vh 0;
	font-size: 4vh;
	cursor: pointer;
}

.card_info {
	margin: 4vh 0;
}

.card_info > h2 {
	margin: 0 0 2vh 0;
}

.second_p {
	margin: 2vh 0 0 0;
}

.card_border {
	border-bottom: 1px solid #00000025;
	width: 100%;
	margin: 2vh 0;
}

.aviso-cookies {
	display: none;
	background: #fff;
	padding: 20px;
	width: calc(100% - 40px);
	max-width: 300px;
	line-height: 150%;
	border-radius: 10px;
	position: fixed;
	bottom: 20px;
	left: 20px;
	z-index: 101;
	padding-top: 60px;
	box-shadow: 0px 2px 20px 10px rgba(222,222,222,.25);
	text-align: center;
}

.aviso-cookies.activo {
	display: block;
}

.aviso-cookies .galleta {
	max-width: 100px;
	position: absolute;
	top: -50px;
	left: calc(50% - 50px);
}

.aviso-cookies .titulo,
.aviso-cookies .parrafo {
	margin-bottom: 15px;
}

.aviso-cookies .boton {
	width: 100%;
	border: none;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	text-align: center;
	padding: 15px 20px;
	font-weight: 700;
	cursor: pointer;
	transition: .3s ease all;
	border-radius: 5px;
	margin-bottom: 15px;
	font-size: 14px;
}

#btn-aceptar-cookies {
	background: #27AE60;
}

#btn-aceptar-cookies:hover {
	background: #1A7841;
}

#btn-no_aceptar-cookies {
	background: #FB0303;
}

#btn-no_aceptar-cookies:hover {
	background: #a00000;
}

.aviso-cookies .enlace {
	color: #4DBFFF;
	text-decoration: none;
	font-size: 14px;
}

.aviso-cookies .enlace:hover {
	text-decoration: underline;
}

.fondo-aviso-cookies, .fondo-video, .fondo-job {
	display: none;
	background: rgba(0,0,0,.20);
	position: fixed;
	z-index: 99;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.fondo-aviso-cookies.activo, .fondo-video.activo, .fondo-job.activo {
	display: block;
}